*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  #f5f5f5;
}
/* encabezado menu */

.contenedor{
    display: flex;
    max-width: 1200px;
    
    justify-content:space-between;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    align-items: center;
   
}



.logo img{
    width: 60px;
    cursor: pointer;
}

.submenu ul{
    display: flex;
    list-style: none;

}

.submenu ul li{
    list-style: none;
    padding: 0 20px;
}


    



.submenu ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    position: relative;
    transition: ease all 1s;
   
    

}



.submenu ul li a::after{
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;height: 2px;
    background-color:rgb(121, 19, 112);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.submenu ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}




.donacion button{
    padding: 15px 25px;
    background: black;
    transition: ease all .70s;
    border: none;
    border-radius: 2px;
}

.donacion button {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: ease all .70s;
}

.donacion:hover button{
    color: black;
}
.donacion:hover button{
    background: #69F1a1;

}

.menu{
    display: none;
    right: 30px;
    
}

.menu img{
    width: 25px;
    cursor: pointer;
}

@media (max-width:670px){
    .donacion{
        display: none;
    }

    .menu{
        position: fixed;
        display: block;
        
    }
    .submenu {
        background: #fff ;
        box-shadow: 1px 1px 7px;
        height: 0px;
        width: 110px;
        position: fixed;
        right: 30px;
        top: 90px;
        overflow: hidden;
        z-index: 10;
        border-radius: 5px;
        transition: ease all 0.5s;


    }
    .submenu ul {
        flex-direction: column;
    }

    .submenu ul li{
        padding: 10px 0px;
        text-align: center;
    }

    .menu_menu{
        height: 235px;
    }
}

/* cuerpo desarrollo*/

.main{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    
}

.conteiner{
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
    
}

.text{
    width: 50%;
}

.text h2{
    margin-top: 60px;
    font-size: 2.5rem;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    border-right: 3px solid;
    width: 23ch;
    animation: typing 1.5s steps(14),
    blink .5s  infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
from{width:0}
}

@keyframes blink{
    50%{ border-color: transparent;}
}

.text p{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    
}

.btn{
    margin-top: 25px;
    padding: 13px 25px;
    display: flex;
    background: black;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: ease all 0.9s;

}

.btn:hover{
background: #69F1a1;
color: black;
}

.text a{
    list-style: none;
    text-decoration: none;
}

.relleno img{
    width: 400px;
    
}

@media(max-width:780px){
    .relleno img{
        width: 300px ;
        margin-top: 40px;
    }
    .text p{
        font-size: 1rem;
    }
}

@media(max-width:690px){
    .conteiner{
        flex-direction: column;
        margin-top: -20px;
    }   

    .text{
        text-align: center;
        margin: auto;
    }

    .text input{
        margin-top: 15px;
        margin: auto;
    }

    .relleno{
        margin: auto;
    }
}

@media(max-width:425px){
    .text h2{
        margin: auto;
        font-size: 20px;
    }

    .text p{
        font-size: 14px;
    }

    .text input{
        margin-top: 20px;
    }
}

.text p{
    display: block;
    opacity: 0;
    animation: revealText 2s forwards;
}
.text input{
    display: block;
    opacity: 0;
    animation: revealText 2s forwards;
}

.relleno img{
    display: block;
    opacity: 0;
    animation: revealText 2s forwards;
}



@keyframes revealText {
    from{ transform: 
        translateY(30px); 
    }
    to{
        opacity: 1;
        transform: none;
    }
}

/*carruser*/

section{
   
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    
    
}

.img-slider{
  
    position: relative;
    width: 100%;
    height: 500px;
    margin: 10px;
    
}
.slide{
    background-size: cover;
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
    
}

.img-slider .slide img{
    z-index: 1;
    top: 0;
    width:100%;
    height: 400px;
    margin:auto;
    display: flex;


    
}

.navegacion {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    
}

.navegacion .btn1{
    background: rgba(255, 255, 255, 0.306);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.btn1.active{
    background: blue;
}

@media(max-width:770px){
    section{
        margin-top: -30px;
        font-size: 200px;
    }
}

/*inicio mein*/

.pag_inicio{
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

.contenido{
    justify-content: center;
    margin-top: -110px;
}

.text_1 p{
    margin-top: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 15px;
    line-height: 24px;
}


.text_2 h1{
    margin-top: 80px;
}

.text_2 h2{
    margin-top: 40px;
}

.text_2 p{
    margin-top: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;

}

.text_2 ul li{
    margin-left: 40px;
    margin-top: 10px;
    line-height: 15px;
}

/*car*/

.car{
    
    width: 100%;
    margin: auto;
    padding: 40px;
    background: #fff;
}

.contenedor-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.box{
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.507);
    text-align: center;
    border-radius: 10px;
    position: relative;
    background: #f5f5f5;
}

.box img{
    width: 60%;
    transition: ease all 1s;
}

.box h2{
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease all 1s;

}

.box p {
    font-size: 15px;
    opacity: 0;
    margin-top: 20px;
    transition: ease all 1s;
}

.box:hover img{
    transform: translateY(-90px);
}

.box:hover h2{
    transform: translateY(-90px);
}

.box .contenedor-p{
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 1;
}

.box:hover .contenedor-p p{
    opacity: 1;
}

.box:hover{
    border: 2px solid black;
}

.foto{

    margin: auto;
    text-align: center;
    
}

.foto img{
    margin-top: 30px;
    width: 400px;
    transition: ease all 1s;
}

.foto:hover img{
    transform: translateY(-20px);
    
}

.text_3 h1{
    margin-top: 40px;
}

.text_3 p{
text-align: justify;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
line-height: 24px;
margin-top: 20px;
}

@media (max-width:450px){
    .foto img {
        width: 250px;
    }
}



.contenedor_fron{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

.front{
    
    margin: auto;
    
    
}

.title-cont{
    margin-top: 10px;
    display: block;
    opacity: 0;
    animation: revealText 1.2s forwards
    
    
}

.text_3 h2{
    font-size: 30px;
}

.text_3 p{
    animation-delay: 0.7s ;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.text_3 h1{
    animation-delay: 0.8s ;
}

.tarjetas{
    display: flex;
    margin-top: 100px;
    margin: auto;
    padding: 20px;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
}

.carb{
    width: 250px;
    position:relative;
    margin: 20px;
    
}

.icon{
    width: 100%;
    height: 200px;
    background: gainsboro;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin-top: 50px;
    transition: ease all 1s;
}

.icon i{
    font-size: 125px;
    color: white;
    
}

.desar{
    width: 100%;
    height: 220px;
    background:gainsboro;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -200px;
    transition: ease all 1s;
    border-radius: 20px;
}

.carb:hover .desar{
    margin-top: 0px;
    border-radius: 0px 0px 20px 20px;
}
.carb:hover .icon{
    border-radius: 20px 20px 0px 0px;
}

.desar p{
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    
}

.c1:hover .icon{
    color: red;
}

.c1 .icon i{
    color: red;
}

.c1:hover .icon i{
    color: #fff;
}

.c1:hover .icon{
    background: red;
}

.c2 .icon i{
    color: blue;
}

.c2:hover .icon i{
    color: #fff;
}

.c2:hover .icon{
    background: blue;
}

.c3 .icon i{
    color: yellow;
}

.c3:hover .icon i{
    color: #fff;
}

.c3:hover .icon{
    background: yellow;
} 

.desar input{
    margin-top: 20px;
    padding: 10px 25px;
    background: rgba(0, 0, 0, 0.774);
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 2px ;
    transition: ease all 1s;

}

.desar input:hover{
    color: black;
    background: #69F1a1;
}

footer{
    opacity: 0.9;
    width: 100%;
    
    margin-top: 0;
    background-size: cover;
    background-image: url(/img/footer-background.png);
}

/*cart html*/

.text_3 .cabezera img{
    width: 900px;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.575);
    margin-bottom: 50px;
    margin-top: -40px;
}

.text_3 .cabezera_1 img{
    display: flex;
    max-width: 1200px;
    width: 90%;
    height: 300px;
    margin: auto;
    justify-content: center;
    margin-top: 40px ;
    margin-bottom: 80px;
}

.text_3 li{
     line-height: 24px;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     margin-left: 30px;
}

                    
.text_3 .animation img{
    width: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 20px;
    animation-name: animar;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes animar{
from{
    transform: translateY(-70px);
}
to{
    transform: translateY(0);
}
}

.text_3 .cabezera_3 img{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 300px;
    width: 900px;
    opacity: 0;
    margin-bottom: 50px;
    animation: tata 2s forwards;
}

.text_3 .cabezera img{
    opacity: 0;
    margin-bottom: 50px;
    animation: tata 2s forwards;
}

@keyframes tata{
    from{
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
@media(max-width:450px){
    .text_3 .cabezera_3 img{
        width: 250px;
        height: 120px;
    }
}


.cont_foter{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    
}

.inf_foter{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    
    
}

.inf_foter .one img{
    width: 50px;
}

.one{
    
    display: flex;
flex-direction: column;
padding: 40px; 
    
}

.one p{
    padding: 5px 0;
}


.one a{
   
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.one i{
    margin:0 5px;
    transition: ease all 0.7s;
}

.one a:hover {
    opacity: 0.9;
}
.one a:hover i{
    color: #69F1a1;
}


.lenguajes  .imagen img{
    width: 150px;
}

.lenguajes  {
    top: 40px;
    display: flex;
    max-width: 1000px;
    height: 200px;
    
           
    margin: auto;
    position: relative;   
    
    
    
}
.lenguajes  .imagen{
    display: flex;

    margin: 20px;
    justify-content: space-between;
    align-items: center;
    transition: ease all 1s;
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: relative;
    margin-bottom: 100px;
    
} 

.lenguajes  .imagen:hover{
    opacity: 0.7;
}

@media (max-width:768px){
 .lenguajes .imagen{
    margin: 0px;
    width: 70px;
    justify-content: center;
    margin: auto;
    bottom: 60px;
 }
 .lenguajes .imagen img{
    width: 70px;
 }
}

@media (max-width:375px){
    .lenguajes .imagen img{
        width: 50px;
     }
}

/* crear pagina */

.contenido .foto-1{
    float: left;
    margin-bottom: 200px;
    margin-top: 100px;
  
}

.contenido .foto-1 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.contenido .foto-1 img{
    width: 650px;
}

.contenido .foto-2 img{
    width:650px;
    
}


.contenido .foto-2{
    float: right;
    margin-bottom:300px;
    
    
}

.contenido .foto-2 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}


.contenido .foto-3 img{
    width: 650px;
    
}

.cabeza{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.center{
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.center-1{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.center h4{
    margin-top: 100px;
    font-size: 28px;
    font-weight: 700;    
}

.center h5{
    margin-top: 60px;
}

.cabeza span i{
    margin: auto;
    display: flex;
    justify-content: center;
        
    margin-top: 15px;
    font-size: 35px;
    animation-name: abajo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
    margin-bottom: 500px;
    
}

.cabeza .abajo{
    font-size: 28px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

@keyframes abajo{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0);
    }
}

.contenido .foto-4 img{
width: 650px;
}


.contenido .foto-4{
    float: right;
    margin-top: 200px;
    margin-bottom: 250px;
}
.contenido .foto-1 span i{
    top: -100px;
}







.contenido .foto-4 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}

.contenido .foto-5 img{
    width: 650px;
}

.contenido .foto-5 {
    float: left;
    margin-top: 20ppx;
    margin-bottom: 200px;
    
    
    

}

.contenido .foto-5 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.contenido .foto-6 img{
    width: 650px;
}

.contenido .foto-6 {
    float: right;
    margin-top: 20ppx;
    margin-bottom: 200px;
}

.contenido .foto-6 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.contenido .foto-7 img{
    width: 650px;
}

.contenido .foto-7 {
    float: left;
    margin-top: 20ppx;
    margin-bottom: 200px;
}

.contenido .foto-7 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.contenido .foto-8 img{
    width: 650px;
}

.contenido .foto-8 {
    float: right;
    margin-top: 20ppx;
    margin-bottom: 200px;
}

.contenido .foto-8 h4{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.final{
    max-width: 1250%;
    padding: 20px;
    
}

.final .tex{
    display: flex;
    
    position: relative;
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}

@media(max-width:425px){
    .contenido .foto-1,
    .contenido .foto-2,
    .contenido .foto-3,
    .contenido .foto-4,
    .contenido .foto-5,
    .contenido .foto-6,
    .contenido .foto-7,
    .contenido .foto-8{
        width: 300px;
        margin-left: 10px;
    }

    .contenido .foto-1 img,
    .contenido .foto-2 img,
    .contenido .foto-3 img,
    .contenido .foto-4 img,
    .contenido .foto-5 img,
    .contenido .foto-6 img,
    .contenido .foto-7 img,
    .contenido .foto-8 img{
        width: 500px;
    }

    .contenido .foto-1 h4,
    .contenido .foto-2 h4,
    .contenido .foto-3 h4,
    .contenido .foto-4 h4,
    .contenido .foto-5 h4,
    .contenido .foto-6 h4,
    .contenido .foto-7 h4,
    .contenido .foto-8 h4{
        margin-left: 20px;
        width: 100%;
    }
    .cabeza .center{
        margin-left: 300px;
    }

    .cabeza .center-1{
        margin-left: 300px;
    }

    .cabeza span i{
        margin-left: 300px;
    }

    .cabeza .abajo{
        margin: auto;
        margin-left: 140px;
    }
    .final .tex{
        width: 600px;
        
    }
}

@media(max-width:375px){
    .contenido .foto-1,
    .contenido .foto-2,
    .contenido .foto-3,
    .contenido .foto-4,
    .contenido .foto-5,
    .contenido .foto-6,
    .contenido .foto-7,
    .contenido .foto-8{
        width: 250px;
    }       

    .cabeza .abajo{
        margin: auto;
        margin-left: 185px;
    }
}

/* botton arriba */

#button-up{
    width: 60px;
    height: 60px;
    background:rgb(41, 41, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: ease all 0.8s;
    transform: scale(0);

}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);;
}


/* boton me gusta */
.btn_like{
    height: 125px;
    
    margin-left: 40px;
    
    
}

.like_btn{
    
    background:rgba(224, 41, 102, 0.705);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: ease all 1s; 
    margin: 5px;
    padding: 15px 10px;
} 

.like_btn:hover{
    transform: scale(1.05);
}

.btn_like input{
    display: none;
}

.like_btn span{
    cursor: pointer;
}

#like:checked ~ .like_btn i{
    color: red;
}

/*modal*/



